<div class="navContainer" color="primary">  
    <div>{{headerTitle}}</div>
    <div class="iconspacer">
        <a routerLink="/"><button mat-icon-button  aria-label="icon-button with home icon">
            <mat-icon>home</mat-icon>
        </button></a>
        
        <button mat-icon-button  aria-label="icon-button with list icon">
            <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button  aria-label="icon-button with settings icon">
            <mat-icon>settings</mat-icon>
        </button>
    </div>      
</div>
