.card{
    
    width: 20em;
    /* height: 15em; */
}
.card-content{
    overflow-y: auto;
}
.card-actions{
    display: flex;
    gap: 1em;
    padding: 0 2em;
    /* position: absolute; */
    bottom: 0;
}
.hide{
    display: none;
}
