.box{
    text-align: center;
    padding: 10px;
    width: fit-content;
    border: 2px solid lightblue;
    margin: 10px 600px;
    border-radius: 10px;
}

.card{
    border-radius: 10px;
    display: inline-flex;
    margin-left: 90px;
    margin-top: 30px;
    border: 1px solid lightblue;
    width: 200px;
    height: 150px;
    text-align: center;
}

p{
    padding: top 10px; ;
}

h4{
    padding: 10px ;
}

.card-content{
    width: 200px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 7px lightblue;
    border-radius: 5px;
}