<section class="container">
    <mat-card class="cardbox" >
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1>{{headerTitle}}</h1>
    
            <div class="inputbox">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="Enter First Name" name="firstName" formControlName="firstName">
                    <mat-error *ngIf="firstName?.errors?.['required']">First Name is required</mat-error>
                    <mat-error *ngIf="firstName?.errors?.['minlength']">Minimum 2 characters required</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" placeholder="Enter Last Name" name="lastName" formControlName="lastName">
                </mat-form-field>
            </div>
    
            <mat-form-field class="widthbox" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter Email ID" name="email" formControlName="email">
                <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
                <mat-error *ngIf="email?.errors?.['pattern']">Enter valid email address</mat-error>
            </mat-form-field>
    
            <div class="inputbox">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" placeholder="Enter Password" name="password" formControlName="password">
                    <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
                    <mat-error *ngIf="password?.errors?.['pattern']">Password should have min 8 letter password, with at
                        least a symbol, upper and lower case letters and a number</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="text" placeholder="Enter Password Again" name="confirmPassword"
                        formControlName="confirmPassword">
                    <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required</mat-error>
                    <mat-error *ngIf="confirmPassword?.errors?.['passwordMismatch']">Password and Confirm Password should
                        match</mat-error>
                </mat-form-field>
            </div>
    
            <mat-radio-group name="gender" formControlName="gender" color="primary">
                <mat-label>Gender </mat-label>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Others">Others</mat-radio-button>
            </mat-radio-group>
    
            <div class="inputbox">
                <mat-form-field appearance="fill">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" placeholder="Enter Age" name="age" formControlName="age">
                    <mat-error *ngIf="age?.errors?.['invalidAge']">Age must be 18 years and above</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="text" placeholder="Enter Phone Number" name="phone" formControlName="phone">
                    <mat-error *ngIf="phone?.errors?.['pattern']">Valid phone number contains 10 digits starting with
                        7/8/9</mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="address">
                <mat-label class="address">Address</mat-label><br>
    
                <mat-form-field class="widthbox" appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput type="text" placeholder="Enter Street" name="street" formControlName="street">
                </mat-form-field>
    
                <div class="inputbox">
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput type="text" placeholder="Enter City" name="city" formControlName="city">
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput type="text" placeholder="Enter State" name="state" formControlName="state">
                    </mat-form-field>
                </div>
    
                <mat-form-field class="widthbox" appearance="fill">
                    <mat-label>Zip Code</mat-label>
                    <input matInput type="text" placeholder="Enter Zip Code" name="zipCode"
                        formControlName="zipCode">
                    <mat-error *ngIf="zipCode?.errors?.['pattern']">Zip code should be 5-digit or 6-digit number</mat-error>
                </mat-form-field>
            </div>
    
            <div>
                <button mat-button mat-raised-button type="reset" color="accent">Reset</button>
                <button mat-button mat-raised-button type="submit" color="primary"
                    [disabled]="!registerForm.valid">Submit</button>
            </div>
    
        </form>
    </mat-card>
    
</section>