.box-card {
    max-width: 630px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px;  
    margin-left: 34.5%; 
    margin-top: 20px;     
}

.inputThings{
    width: 100%;
}

.buttonThing{
    margin-left: 10px;       
}

.buttonselector{
    margin-left: 65px;
}