<div id="header" class="mat-toolbar" color="primary">
  <div id="title-block">
    <a id="home-link" href="/">
      <h1>ViewTube</h1>
    </a>
  </div>

  <div id="search" class="spac">
    <mat-form-field appearance="fill">
      <input matInput type="text" name="searchquery" id="searchquery">
    </mat-form-field>
    <button mat-icon-button class="space">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div id="navbar">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>video_call</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
  </div>
</div>