<div class="form">
    <h1 class="header">{{title}}</h1>

    <form [formGroup]="registerForm" class="example-form" (ngSubmit)="saveUser()">
        <div>
           <mat-form-field class="firstname">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
              <mat-error class="error" *ngIf="firstName?.errors?.['required']">
                First Name is required
              </mat-error>
              <mat-error class="error" *ngIf="firstName?.errors?.['minlength']">
                Minimum 2 characters required
              </mat-error>
           </mat-form-field>
    
           <mat-form-field class="lastname">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
           </mat-form-field>
        </div>

        <div>
            <mat-form-field class="email">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="email?.errors?.['required']">Email is required </mat-error>
                <mat-error *ngIf="registerForm.get('email')?.hasError('pattern') && registerForm.get('email')?.touched">
                    Enter valid email address
                  </mat-error> 
             </mat-form-field>
        </div>

        <div>
            <mat-form-field class="password">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
                <mat-error *ngIf="password?.errors?.['required']">Password is required </mat-error>
                <mat-error *ngIf="password?.errors?.['pattern']">Password must contain the specified pattern</mat-error>
             </mat-form-field>
             
             <mat-form-field class="confirmpassword">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword">
                <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required </mat-error>
                <mat-error *ngIf="confirmPassword?.errors?.['pattern']"> Confirm Password must contain the specified pattern</mat-error>
                <mat-error *ngIf="registerForm.errors?.['passwordMismatch']">Password and Confirm Password do not match</mat-error>
             </mat-form-field>
             
        </div>

        <div class="radio-button">
            <p class="gender">Gender</p>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button value="2">Female</mat-radio-button>
                <mat-radio-button value="3">Others</mat-radio-button>
            </mat-radio-group>
        </div>

        <div>
            <mat-form-field class="age">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age">
                <mat-error *ngIf="registerForm.controls.age.errors?.['invalidAge']">Age must be 18 or older</mat-error>
             </mat-form-field>
             <mat-form-field class="phonenumber">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone">
                <mat-error *ngIf="registerForm.controls.phone.errors?.['pattern']"> Invalid phone number format</mat-error>
             </mat-form-field>
        </div>

        <div formGroupName="address">
            <p class="address">Address</p>
            <div>
               <mat-form-field class="street">
                   <mat-label>Street</mat-label>
                   <input matInput formControlName="street">
               </mat-form-field>
            </div>  
               <mat-form-field class="city">
                   <mat-label>City</mat-label>
                   <input matInput formControlName="city">
               </mat-form-field>
               <mat-form-field class="state">
                   <mat-label>State</mat-label>
                   <input matInput formControlName="state">
               </mat-form-field>
            <div>
               <mat-form-field class="zipcode">
                   <mat-label>Zip Code</mat-label>
                   <input matInput formControlName="zipCode">
                   <mat-error *ngIf="registerForm.get('address.zipCode')?.hasError('pattern')">Zip code should have 5 or 6 digit numbers</mat-error>
               </mat-form-field>
            </div>
        </div>

        <div class="example-button-row">
            <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="accent" type="reset">Reset</button>
        </div>
    
    </form>
</div>