div{
    border: 1px solid aquamarine;
    box-shadow: 0 2px 4px skyblue;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 140px;
    text-align: center;
}

input,textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid navy;
}