<mat-toolbar color="primary">
    <span>{{title}}</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with home icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>format_align_center</mat-icon>
    </button>
    <button mat-icon-button class="settings-icon" aria-label="Example icon-button with settings icon">
        <mat-icon>settings</mat-icon>
    </button>

</mat-toolbar>