<div class="example-form">
    <mat-card>
        <mat-card-header class="card-header">
            <mat-card-title>
                <h3>New Note</h3>
            </mat-card-title>
            <div>
                <button mat-icon-button (click)="cancel()">
                    <mat-icon>
                        keyboard_arrow_up                
                    </mat-icon>
                </button>

            </div>

        </mat-card-header>
        
        <mat-card-content>
            <form (ngSubmit)="saveNote()" #noteForm="ngForm">
                <mat-form-field class="example-full-width" >
                    <mat-label>Title</mat-label>
                    <input matInput #title="ngModel" [(ngModel)]="note.title" name="title" placeholder="Ex. Note" required  >
                      <mat-error *ngIf="title.errors?.['required']">
                          Note title is required
                      </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field class="example-full-width" >
                    <mat-label>Note Content</mat-label>
                    <textarea matInput #content="ngModel" [(ngModel)]="note.content" name="content" placeholder="Ex. Some text..." 
                    required minlength="5"></textarea>
                    <mat-error *ngIf="content.errors?.['required']">
                      Note content is required
                      </mat-error>
                    <mat-error *ngIf="content.errors?.['minlength']">
                      Note content should have minimum 5 characters
                      </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field class="example-full-width" >
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker" #date="ngModel" [(ngModel)]="note.reminderDate " name="reminderDate"
                      required [min]="minDate" >
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker ></mat-datepicker>
                      <mat-error *ngIf="date.errors?.['required']">
                          Reminder date is required                
                        </mat-error>                                 
                    </mat-form-field>
    
                  <mat-form-field class="example-full-width" >
                      <mat-label>Category</mat-label>
                      <input matInput #category="ngModel" [(ngModel)]="note.category" name="category" placeholder="Ex. 1"   >
                  </mat-form-field>
                  
                  <label id="priority" class="priority-label"><p>Priority</p> </label>        
                  <mat-radio-group aria-label="Select an option" name="priority" #priority="ngModel"
                  [(ngModel)]="note.priority" class="rating-group">
                  <mat-radio-button value="Low">Low</mat-radio-button>
                  <mat-radio-button value="Medium">Medium</mat-radio-button>
                  <mat-radio-button value="High">High</mat-radio-button>
                  <mat-radio-button value="Critical">Critical</mat-radio-button>
                </mat-radio-group>
                <div class="btn-container">
                    <button mat-mini-fab color="primary" type="submit" [disabled]="noteForm.invalid">
                        <mat-icon class="icon">save</mat-icon>
                    </button>
                </div>
            </form>
          
    

        </mat-card-content>
        <!-- <mat-card-actions class="card-btns-container"> 
            <button mat-raised-button color="accent" (click)="see()">See</button>
        </mat-card-actions> -->

        <mat-card-footer>
        </mat-card-footer>
    </mat-card>
</div>
